<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>経歴・履歴フォーム</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <h1>中島大河のホームページ</h1>
    <h2>経歴・履歴フォーム</h2>
    <form method="post" action="{{ url_for('register') }}">
      <table>
        <tr>
          <th>日付</th>
          <th>タイトル</th>
          <th>詳細</th>
        </tr>
        <tr>
          <td><input type="date" name="date"></td>
          <td><input type="text" name="title"></td>
          <td><input type="text" name="document"></td>
        </tr>
      </table>
      <br>
      <input type="submit" value="登録">
    </form>
  </body>
</html>