<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>中島大河</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <h1>中島大河のホームページ</h1>
    <h2>経歴・履歴</h2>
    {% if historys == [] %}
      <p>何の経歴も残していません</p>
    {% else %}
      <table border="1">
        <tr>
          <th>日付</th>
          <th>出来事</th>
          <th>詳細</th>
          <th></th>
        </tr>
        {% for history in historys %}
          <tr>
            <td>{{ history.date }}</td>
            <td>{{ history.title }}</td>
            <td>{{ history.document }}</td>
            <form method="post" action="{{ url_for('del_history') }}">
              <input type="hidden" name="date" value="{{ history.date }}">
              <input type="hidden" name="title" value="{{ history.title }}">
              <input type="hidden" name="document" value="{{ history.document }}">
              <td><input type=submit value="削除"></td>
            </form>
          </tr>
        {% endfor %}
      </table>
    {% endif %}
    <!-- <a href="{{ url_for('form') }}">編集</a> -->
    <br>
    <h3>追加</h3>
    <form method="post" action="{{ url_for('add_history') }}">
      <table>
        <tr>
          <th>日付</th>
          <th>タイトル</th>
          <th>詳細</th>
        </tr>
        <tr>
          <td><input type="date" name="date"></td>
          <td><input type="text" name="title"></td>
          <td><input type="text" name="document"></td>
        </tr>
      </table>
      <br>
      <input type="submit" value="登録">
    </form>
  </body>
</html>