<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>中島大河</title>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <h1>中島大河のホームページ</h1>
    <img src="/static/images/よしなま04.jpg" alt="中島"/>
    <h2>経歴・履歴</h2>
    <form method="post" action="{{ url_for('add_history') }}">
      <table>
        <tr>
          <th>日付</th>
          <th>タイトル</th>
          <th>詳細</th>
        </tr>
        <tr>
          <td><input type="date" name="date"></td>
          <td><input type="text" name="title"></td>
          <td><input type="text" name="document"></td>
        </tr>
      </table>
      <input type="submit" value="追加">
    </form>
    <h3>一覧</h3>
    {% if historys == [] %}
      <p>何の経歴も残していません</p>
    {% else %}
      <table border="1">
        <tr>
          <th>日付</th>
          <th>タイトル</th>
          <th>詳細</th>
          <th></th>
        </tr>
        {% for his in historys %}
          <tr>
            <td>{{ his.date }}</td>
            <td>{{ his.title }}</td>
            <td>{{ his.document }}</td>
            <td><a href="{{ url_for('del_history', date=his.date, title=his.title, document=his.document) }}">削除</td>
          </tr>
        {% endfor %}
      </table>
    {% endif %}
  </body>
</html>